body{
	background:#fff;
}
#gdate_contain{
	position:absolute;
	width:210px;
	font-family:微软雅黑,黑体,Helvetica,华文黑体;
	border-radius:0 3px 3px 3px;
	color:#333;
	box-shadow: 1px 1px 10px #ccc;
}
#gdate_top{
	height:24px;
	padding:6px 0;
	border-radius:0 3px 0 0;
	background:#69f;
	color:#fff;
	font-size:13px;
	text-align:center;
	line-height:24px;
}
#gdate_other{
	position:absolute;
	top:-10px;
    width: 0;
    height: 0;
    border-bottom: 10px solid #69f;
    border-right: 10px solid transparent;
}
#gdate_content{
	border-radius:0 0 3px 3px;
	background:#eee;
}
#gdate_btn_year_pre{
	width:100%;
	height:30px;
	line-height:30px;
	text-align:center;
	background:#fff;
	font-size:13px;
	cursor:pointer;
}
#gdate_btn_year_pre:hover,#gdate_btn_year_la:hover{
	color:#39f;
	background:#F0F0F0;
}
.gdate_btn_year{
	width:70px;
	display:inline-block;
	text-align:center;
	height:36px;
	line-height:36px;
	background:#fff;
	font-size:13px;
	cursor:pointer;
}
.gdate_btn_month{
	width:70px;
	display:inline-block;
	text-align:center;
	height:36px;
	line-height:36px;
	background:#fff;
	font-size:13px;
	cursor:pointer;
}
.gdate_day_btn{
	display:inline-block;
	width:30px;
	height:30px;
	line-height:30px;
	text-align:center;
	background:#fff;
	font-size:13px;
	cursor:pointer;
}
.gdate_day_btn_now,.gdate_btn_year_now,.gdate_btn_month_now,.gdate_day_btn:hover,.gdate_btn_month:hover,.gdate_btn_year:hover{
	color:#39f;
	background:#F0F0F0;
}
#gdate_btn_year_la{
	width:100%;
	height:30px;
	line-height:30px;
	text-align:center;
	background:#fff;
	font-size:13px;
	cursor:pointer;
}
#gdate_top_btn{
	width:120px;
	height:24px;
	line-height:24px;
	margin:0 auto;
	color:#fff;
	text-align:center;
	border-radius:3px;
	font-size:13px;
	cursor:pointer;
}
#gdate_top_btn:hover{
	background:#6cf;
}
.gdate_day_top{
	display:inline-block;
	width:30px;
	height:30px;
	line-height:30px;
	text-align:center;
	background:#fff;
	color:#69c;
}

.gdate_day_btn_pre,.gdate_day_btn_next{
	color:#39f;
}